/*planning style is in front-page.css*/

.about_img{
    width:90%;
    margin: 50px 5% 60px 5%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -40px;
}
.about_description{
    width: 90%;
    padding: 0 5% 0 5%;
    margin-bottom:80px;
}
.about_description h4{
    padding:0;
    margin-bottom:30px
}
.about_description p{
    font-family: Gotham-Light;
    font-size:14px;
    line-height: 24px;
}

@media (max-width: 460px) { 
    .planning_container {
        
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
