.main_banner_wrapper{
    
    position: relative;

}


.main_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:400px;
    width: 90%;
    background-size: cover;
    background-position-y: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 70px;
    text-align: center;
    padding: 0 5% 0 5%;
    margin-top: -70px;
    filter: blur(4px);

}
.main_banner::before{
    content:"";
    width: 100%;
    height: 100%;
    background-color:#787878;
    opacity: 0.5;
    position: absolute;
    top:0;
    left:0;
}
.main_banner_text{
    position: absolute;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Lack-Regular;
    font-weight: lighter;
    text-transform: uppercase;
    
}

.main_banner_text h1{
    
    font-size: 18px;
    z-index:12;
    margin-top:80px;
    margin-bottom: 20px;
    
}
.main_banner_text h2{
    
    font-size: 42px;
    z-index:12;
    margin-bottom: 50px;

}
.main_banner_text h3{
    font-family: Gotham-Book;
    font-size: 24px;
    z-index:12;
    margin-bottom: 20px;
}
.stream_wrapper{
    width:90%;
    padding: 0 5%;
    height: 500px;
    margin-bottom: 70px;
    
}
/* SLIDER */
.sponsor-slider{

    position:relative;
    width:100% !important;
    margin: 0px!important;
    height:200px;
    background-color: #F5F5F5;
    padding: 0 5%;
    display:flex;   
    align-items:center;


}
.sponsor-slider .slide-item{
    text-align: center;
}
.sponsor-slider .slide-item img{
   
   width:200px;
   user-select: none;
   text-align: center;
   margin: auto;

}
.sponsor-list {
   
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    display: none;
 
 }
.sponsor-list img{
   
   width:200px;
   user-select: none;
   margin-bottom:50px;

}
.sponsor-slider .next{
    z-index:50;
    position:absolute;
    cursor: pointer;

}

.sponsor-slider .previous{
    z-index: 50;
    position:absolute;
    cursor: pointer;

}
h4 {
    font-family: Lack-Line;
    font-size: 28px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 40px;
    margin-top: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: normal;
}
h4.dark_filet::before{
    content:"";
    position:absolute;
    width: 80px;
    height: 8px;
    background-color: black;
    
    top:-25px;
}
iframe{
    width:100%;
}


.planning_container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding-right:5%;
    padding-left:5%;
    grid-gap: 2%;
    width:90%;   
}
.planning_container .event_box{
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 2px 9px 0px rgba(226,226,226,1);
    background-color:white;
    font-family:Gotham-Medium;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-out;
    opacity:1;
    border-radius: 4px;
    position: relative;
}
.event_box.active{
    opacity: 1;
}


.planning_container .event_box .event_img{
    width:100%;
    height: 150px;
    background-size: cover;
    background-position-y: center;
}
.planning_container .event_box h4.event_title{
    
    font-size:16px;
    line-height: 20px;
    font-weight: lighter;
    padding:20px 20px 20px 20px;
    margin: 0;
    min-height:40px;
    font-family: Gotham-Medium;
    position: unset;
}

.planning_container .event_box h4.event_title a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:0;
}
.planning_container .event_box .speaker_link {
    position: relative;
    z-index:20;
}

.planning_container +h4 {
    margin-top:60px;
}
.planning_container .event_link {
    display:flex;
    flex-direction:column;
    text-decoration: none;
    color:black;
}

.filter_container{
    width:70%;
    padding-left:5%;
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter_container >div{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right:40px;
    position: relative;
}
.filter_container >div:last-child .filter_title{
    position:relative;
    top:10px;
}
.filter_container ul{
   list-style: none;
   font-family:Gotham-Book;
   font-size:14px;
   z-index:1;
   position: relative;
}
.filter_container img{
    margin-right: 10px;
}

.filter_container img.date-svg{
    width:24px;
 }
 .filter_container img.location-svg{
    width:16px;
 }
 .filter_container img.type-svg{
    width:16px;
 }
.filter_container select{
    -webkit-appearance: none;
    border: none;
    background-color:white;
    font-family: Gotham-Book;
    font-size: 14px;
}
.filter_container .filter_title{
    font-family: Gotham-Bold;
    color: #9B9B9B;
    font-size: 16px;
    margin-bottom: 15px;

}
h5.day_title, h5.event_type_title{
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    font-family: Lack-Regular;
    text-transform: uppercase;
    font-size: 24px;
    transition: opacity 0.5s ease-out;
    margin-bottom:20px;
    margin-top:20px;
}

.main_planning{
    margin-bottom: 120px;
   }
   .planning_container .date-svg, .planning_container .location-svg, .planning_container .hour-svg, .planning_container .bubble-svg  {
    width: 18px;
    height: 21px;
    position: relative;
    left: -12px;
    bottom: -5px;
}

.planning_container .bubble-svg  {
width: 18px;
height: 18px;
}
.planning_container .event_box p {
    font-family: Gotham-Book;
    font-size: 14px;
    padding: 0px 20px 20px 32px;
}
.active_tags{
    display:flex;
    flex-wrap:wrap;
    max-width:320px;
}
.active_tags div{
    padding:5px;
    background-color: #D43B3A;
    margin-right : 5px;
    margin-top: 5px;
    font-size:14px;
    font-family:Gotham-Book;
    color:white;
    border-radius:4px;

}
.tags_box{
    min-width: 30vw;
    position: absolute;
    top: 100%;
    left:0px;
    box-shadow: 0px 0px 4px 0px #b1b1b1;
    flex-wrap: wrap;
    height: fit-content;
    background-color:white;
    z-index:9999;
    display: none;
    padding: 10px;
}
.tags_box-active{
    display: flex;
}
.tags_box div{
    padding:5px;
    color: #4A4A4A;
    margin-right : 10px;
    margin-left : 10px;
    margin-bottom : 5px;
    margin-top: 5px;
    font-size:14px;
    font-family:Gotham-Book;
    border-radius:4px;
    background-color: #F4F4F4;
    cursor: pointer;
}
.cross-svg{
vertical-align: middle;
cursor: pointer;
margin-right:4px! important;
margin-left: 4px;
}
   
.add_tag{
    cursor:pointer;
}

@media (max-width: 992px) { 
    .filter_container{
        width:50%;
    }
    .active_tags{
        max-width:440px;
    }
    @media (max-width: 992px) { 
        .filter_container{
            width:70%;
        }
}
}


@media (max-width: 460px) { 
    .planning_container {
        
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .active_tags{
        max-width:280px;
    }
}


.custom-select {
    position: relative;
    font-family: Gotham-Book;
    font-size:14px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: white;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 5px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 0px;
  }


  
  
  /* style the items (options), including the selected item: */
  .select-items div{
    user-select: none;
    padding: 8px 16px 8px 5px;
    color: #000000;
    cursor: pointer;
    z-index: 2000;
    min-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    
  }
  .select-selected {
    user-select: none;
    color: #000000;
    padding:0;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    
    max-height: 600px;
    user-select: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 15000;
    box-shadow: 0px 0px 4px 0px #b1b1b1;
    min-width: 100%; 
    overflow: hidden;
  }
  
  /* Hide the items when the select box is closed: */
  .select-items.select-hide {
    max-height: 0px;
    overflow: hidden;
   
    
    
    
  }
  
  .select-items div:hover, .same-as-selected {
    color: #D43B3A;
  }
  .same-as-selected {
   color: #D43B3A !important;
}


.slick-prev {
    left: 5%;
}
.slick-next {
    right: 5%;
}
.slick-prev::before{
    content: '';
    transform-origin: center;
    position: absolute;
    width:18px;
    height: 18px;
    border-top:solid #4A4A4A 2px;
    border-left:solid #4A4A4A 2px;
    transform: rotate(-45deg);
    
    top: 0;
    left: 0;
    }
.slick-next::before{
    content: '';
    transform-origin: center;
    top:0;
    position: absolute;
    width:18px;
    height: 18px;
    border-top:solid #4A4A4A 2px;
    border-left:solid #4A4A4A 2px;
    transform: rotate(135deg);
    
    left: 0;
}
