header, header li, header a{
    text-decoration: none;
    list-style: none;
    color:black;
    
    
}
header{
    height: 85px;
    background-color:#FFFFFF;
    position: sticky;
    top: 0px;
    font-size: 14px;
    font-family: Gotham-Book;
    z-index:1000;
    box-shadow: 0px 2px 4px 0px #dcdcdc;
    margin-bottom:70px;
    
    
}
header > .flex-container{
    height:inherit;
    display:flex;
    flex-direction: row;
    margin-right:5%;
    margin-left:5%;
    justify-content:space-between;
    align-items: center;
    user-select: none;
}
header ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
}
header .header_menu{
    display: flex;
    flex: 1;
}
header .header_menu > div:first-of-type{
    flex: 1;
    margin: 0 5% 0 3%;
}
header ul li a:hover{
    color:#D43B3A;
}
.menu-langues-en-container ul li:first-child, .menu-langues-fr-container ul li:first-child{
    padding-right:20px;
    padding-left: 20px;
}

header .logo{
    width: 64px;
    height:64px;
}
header > .flex-container > a{
    font-size: 0;
}

@media (max-width: 1100px) { 
    header .header_menu > div:first-of-type{
        margin: 0;
    }
    
    
 }

 @media (max-width: 992px) { 
    header .header_menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 85px;
        background-color: white;
        width:90%;
        padding-right: 5%;
        padding-left: 5%;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .5s ease-out;
        box-shadow: 0px 4px 4px #dcdcdc;
    }
    header .header_menu ul {
        flex-direction: column;
    }
    header .header_menu ul li a {
        padding:1em 1em 1em 0px !important;
        display: block;
        
    }
    header button.hamburger{
        display: inline-block;
    }

    header .header_menu.expanded{
        max-height:500px; 
    }
    .menu-langues-en-container ul li:first-child, .menu-langues-fr-container ul li:first-child {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
 }
