*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Gotham-Book;  
  src: url('../fonts/gotham/Gotham-Book.otf');  
  font-weight: normal;  
}
@font-face {
  font-family: Gotham-Medium;  
  src: url('../fonts/gotham/Gotham-Medium.otf');  
  font-weight: normal;  
}
@font-face {
  font-family: Gotham-Bold;  
  src: url('../fonts/gotham/Gotham-Bold.otf');  
  font-weight: normal;  
}
@font-face {
  font-family: Gotham-Light;  
  src: url('../fonts/gotham/Gotham-Light.otf');  
  font-weight: normal;  
}
@font-face {
  font-family: Gotham-XLight;  
  src: url('../fonts/gotham/Gotham-XLight.otf');  
  font-weight: normal;  
}
@font-face {
  font-family: Lack-Regular;  
  src: url('../fonts/lack/Lack-Regular.otf');  
  font-weight: normal;  
}